<!DOCTYPE html>
<html>
<head>
    <!-- ヘッダー情報（CSS、メタデータなど） -->
</head>
<body>
<h1>アーカイブ</h1>
<a href="/">main</a>
<!-- 一括操作用のフォーム -->
<form action="/bulkActionArchive" method="post">
    <div th:each="post : ${posts}" th:unless="${post.state}">
        <!-- チェックボックス -->
        <input type="checkbox" th:name="postIds" th:value="${post.id}">
        <span th:text="${post.username}">Username</span>:
        <span th:text="${post.content}">Content</span>
    </div>
    <!-- 一括メインに戻すボタン -->
    <button type="submit" name="action" value="toMain">Bulk to Main</button>
    <!-- 一括削除ボタン -->
    <button type="submit" name="action" value="delete">Bulk Delete</button>
</form>

</body>
</html>
