<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Simple Bulletin Board</title>
</head>
<body>
<h1>Simple Bulletin Board</h1>

<form action="/post" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="content">Content:</label>
    <textarea id="content" name="content" required></textarea>
    <button type="submit">Post</button>
    <a href="/archive">archive</a>
</form>


<form action="/bulkUpdate" method="post">
    <div>
        <ul>
            <div th:each="post : ${posts}">
                <input type="checkbox" th:name="postIds" th:value="${post.id}">
                <span th:text="${post.username}">Username</span>:
                <span th:text="${post.content}">Content</span>
                <a th:href="@{/toggleGetState/{id}(id=${post.id})}"><button type="button">Archive</button></a>
            </div>
        </ul>
    </div>
    <button type="submit">Bulk Archive</button>
</form>
</body>
</html>
